@use '../../../../styles/breakpoints.scss';

.dashboard {
  margin: 0 auto;
  padding: 1.5rem 1rem;
  max-width: 75rem;
}

.dashboard-actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  gap: 24px;
  margin-bottom: 2rem;

  button {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
  }

  @include breakpoints.smaller-than(32.5rem) {
    display: flex;
    flex-flow: column-reverse;

    & > button {
      width: 100%;
    }

    .input-form {
      width: 100%;
    }
  }
}

.location-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

  list-style: none;

  @include breakpoints.smaller-than(68.75rem) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoints.smaller-than(48.75rem) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }

  @include breakpoints.smaller-than(32.5rem) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.location-grid-item {
  background-color: #fff;
  border-radius: 0.1875rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
}
