@use '../../../../styles/breakpoints.scss';

.weather-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  max-width: 75rem;
  margin: 0 auto;

  @include breakpoints.smaller-than(35rem) {
    flex-flow: column;
    gap: 1.5rem;

    padding: 1rem 0.5rem;
  }
}

.temperature-details {
  display: flex;
  flex-flow: column;
  align-items: center;

  height: fit-content;

  background-color: #fff;
  border-radius: 0.1875rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;

  padding: 1rem;

  p {
    font-size: 3rem;
  }

  dl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  dl > div {
    display: flex;
    flex-flow: row wrap;

    dt {
      margin-right: 4px;
    }
  }
}

.additional-details-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem;

  & > div {
    display: flex;
    flex-flow: column;
    align-items: center;

    padding: 1rem;

    background-color: #fff;
    border-radius: 0.1875rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
  }

  & > div:last-child {
    grid-column: 1/-1;
  }
}
